@media (max-width: 1099px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 200;
    padding-top: 5px;
  
    width: 72px;
    background-color: white;
  }

  .link-container {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .link-container:hover {
    background-color: rgb(235, 235, 235);
  }
  .link-container img {
    height: 24px;
    margin-bottom: 6px;
  }
  .link-container div {
    font-size: 10px;
  }
}

@media (min-width: 1100px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 200;
    padding-top: 5px;
  
    width: 240px;
    background-color: white;
  }

  .link-container {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 24px;
  }
  .link-container:hover {
    background-color: rgb(235, 235, 235);
  }
  .link-container img {
    height: 24px;
    margin-right: 24px;
  }
  .link-container div {
    font-size: 16px;
  }
}